<h1>Welcome | 欢迎</h1>
<br>
<p>
  Hi, I’m <b>Bingqiang Pan</b>.
</p>

<p>
  This is my blog, where I share my thoughts on studying, scientific research, and daily life. If any of my words spark an idea or resonate with you, that would make me really happy.
</p>

<p>
  这里是Bingqiang Pan的个人博客。建立本站的初衷，是为了记录我的科研想法，比如记录我在实验里遇到的难以理解的现象，以及我对此作出的资料搜集与分析解读。
</p>
<p>
  这个网站的内容不限于学习或科研。我也会在这里记录一些关于日常生活、旅行、个人兴趣，甚至未来职业方向的思考。供自己未来参考，也希望能为你带来启发。
</p>
<p>
  - 🏠 <a href="/">[Home]</a> – Browse all blog articles
</p>
<p>
  - 🗂 <a href="categories">[Categories]</a> – Explore by topic
</p>
<p>
  - 🔖 <a href="/tags/">[Tags]</a> – Find by keyword
</p>
<p>
  - 👤 <a href="/about/">[About me]</a> – Get to know me 
</p>
<div style="text-align: center; margin: 2rem 0;">

  <img

    src="{{ '/assets/img/home/camera.jpeg' | relative_url }}"

    loading="eager"

    decoding="sync"

    style="

      display: block;

      margin: 0 auto;

      max-width: 100%;

      height: auto;

    ">

</div>


<hr>
<h1>Latest Posts</h1>